@import url("https://css.gg/css");
@import url("colors.css");
@import url("top-navbar.css");
@import url("sidebar.css");

body,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}

a {
    color: var(--txt-white);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--page-bg);
}

.container {
    display: flex;
}

main {
    flex: 1;
    padding: 20px;
    background-color: var(--container-bg);
    color: var(--container-txt);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: inline;
}

main a {
    color: var(--page-content-link);
    font-style: italic;
}

main section {
    padding-bottom: 20px;
}

main section h1 {
    padding: 10px;
}

main section p {
    padding: 10px 10px 10px 20px;
}

footer p {
    font-size: 12px;
    text-align: center;
    background-color: var(--footer-bg);
    color: var(--footer-txt);
    padding: 5px;
}

footer a {
    color: var(--footer-txt);
}

#page-container {
    display: flex;
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    margin: 60px 10px 0px 250px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}