@import url("https://css.gg/css");
@import url("colors.css");
@import url("top-navbar.css");
@import url("sidebar.css");

@font-face {
    font-family: 'Alegreya';
    src: url('../fonts/Alegreya/Alegreya-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

    font-family: 'Alegreya SC';
    src: url('../fonts/Alegreya_SC/AlegreyaSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'Alegreya SC', 'Georgia', serif;
    font-weight: normal;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
    font-style: italic;
}

h3 {
    font-size: 20px;
    font-style: italic;
}

a {
    color: var(--container-link);
    font-style: italic;
}

body {
    font-family: 'Alegreya', serif;
    background-color: var(--page-bg);
}

code {
    font-family: Consolas, "courier new";
    color: #fff;
    background-color: #000;
    padding: 5px;
    font-size: 16px;
    border-radius: 20px;
}

.icon-container {
    min-height: 30px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

main {
    flex: 1;
    color: var(--container-txt);
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
    display: inline;
}

main section {
    background: linear-gradient(165deg, var(--container-bg), var(--page-bg) 66%);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    display: block;
    font-size: 20px;
}

main section h1,
main section h2,
main section h3,
main section p,
main section iframe {
    padding: 10px;
}

main section ul {
    list-style: none;
}

main section li {
    padding: 10px;
    border-width: 0;
    border-top-width: 1px;
    border-style: solid;
    border-color: var(--container-link);
}

main section table,
main section th,
main section td {
    border: 2px solid var(--page-lightest);
}

main section table {
    background-color: var(--page-darker);
}

main section th {
    padding: 10px;
    white-space: nowrap;
}

main section td {
    justify-content: left;
    padding: 5px;
}

.nopadding {
    padding: 0;
}

.nowrap {
    white-space: nowrap;
}

td .btn {
    margin: 0;
    padding: 0px 5px 0px 5px;
    background-color: var(--page-darker);
    border: none;
    border-radius: 0;
}

td .btn:hover {
    background-color: var(--page-darkest);
}

main section .credit {
    color: var(--txt-credit);
    font-size: 12px;
}

main section .credit a {
    color: var(--txt-credit);
}

footer p {
    font-size: 12px;
    text-align: center;
}

footer a {
    color: var(--footer-txt);
}

#page-container {
    display: flex;
    position: relative;
    min-height: 100vh;
}

.btn {
    display: flex;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid var(--container-btn-border);
    background-color: var(--container-btn-bg);
    text-decoration: none;
    font-style: normal;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    transition: color 0.3s, background-color 0.3s;
}

.btn:hover {
    background-color: var(--container-btn-bg-hov);
}

#page-container button {
    display: flex;
    margin: 10px;
    padding: 0;
    border-radius: 10px;
    border: 2px solid var(--container-btn-border);
    background-color: var(--container-btn-bg);
    color: var(--container-link);
    text-decoration: none;
    font-style: normal;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    transition: color 0.3s, background-color 0.3s;
}

#page-container button:hover {
    background-color: var(--container-btn-bg-hov);
}

#content-wrap {
    margin: 60px 10px 30px 240px;
}

#footer {
    position: absolute;
    background-color: var(--footer-bg);
    color: var(--footer-txt);
    bottom: 0;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collapse-section-header {
    display: flex;
    min-height: 50px;
    width: 100%;
    align-items: center;
}

.collapse-section-header h1,
.collapse-section-header h2,
.collapse-section-header h3 {
    margin-right: auto;
}

.collapse-section-content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    transition:
        max-height 0.3s ease,
        margin 0.3s ease,
        padding 0.3s ease;

    border-radius: 20px;
    background: var(--collapse-section-content-bg);
}

.expanded .collapse-section-content {
    margin: 10px;
    padding: 10px;
}

.imgbox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.imgbox img {
    max-width: 100%;
}