@font-face {
    font-family: 'Alegreya SC';
    src: url('../fonts/Alegreya_SC/AlegreyaSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.top-navbar {
    font-family: 'Alegreya SC', 'Georgia', serif;
    background-color: var(--nav-bg);
    color: var(--nav-txt);
    text-align: center;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all 0.3s;
}

.top-navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.top-navbar li {
    z-index: 1;
    display: inline;
    position: relative;
    transition: background-color 0.3s;
}

.top-navbar li:hover {
    color: var(--nav-btn-txt-hov);
}

.top-navbar a {
    float: left;
    text-decoration: none;
    font-style: normal;
    font-size: 20px;
    min-height: 30px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

.top-navbar img.logo {
    padding: 0px;
    width: 50px;
    height: 30px;
}

.top-navbar a:hover {
    color: var(--nav-btn-txt-hov);
}

.top-navbar a.currpage {
    color: var(--nav-btn-txt-curr);
}

/*
Adds top navbar as a floating navbar attached to top of screen,
page contents display below navbar.
*/
.top-navbar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.top-navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 50%, var(--page-darkest));
    z-index: 1;
    pointer-events: none;
}

.has-dropdown .dropdown {
    background-color: var(--nav-drop-bg);
    border-color: var(--nav-drop-border);
    border-radius: 0px 0px 20px 20px;
    border-width: 3px;
    border-style: solid;
    display: none;
    position: absolute;
    padding: 10px;
    /* Position the dropdown below the parent */
    top: 100%;
    /* Align the left edge of the dropdown with the parent */
    left: 0;
    /* Ensure the dropdown appears above other content */
    z-index: 1;
}

.has-dropdown:hover .dropdown {
    display: block;
    justify-content: left;
    float: left;
}

.has-dropdown .dropdown a {
    min-height: 30px;
    font-size: 16px;
}

.has-dropdown .list-item {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--nav-drop-btn-bg);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    color: var(--nav-txt);
    border-radius: 10px;
}

.top-navbar .currpage {
    color: var(--nav-btn-currpage);
}

/* ========================= */
/* Home */
/* ========================= */
.top-navbar #home-button {
    background-color: var(--nav-btn-home-bg);
}

.top-navbar #home-button:hover {
    background-color: var(--nav-btn-home-bg-hov);
    color: var(--nav-btn-home-txt-hov);
}

.top-navbar #home-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 50%, var(--green-darkest));
    z-index: 2;
    pointer-events: none;
}

/* ========================= */
/* Academics */
/* ========================= */
.top-navbar #academics-button {
    background-color: var(--nav-btn-acad-bg);
}

.top-navbar #academics-button:hover {
    background-color: var(--nav-btn-acad-bg-hov);
    color: var(--nav-btn-acad-txt-hov);
}

.top-navbar .academics-drop {
    background: var(--nav-btn-acad-drop-bg);
}

.top-navbar .academics-drop li {
    background-color: var(--nav-btn-acad-drop-btn-bg);
}

.top-navbar .academics-drop li:hover {
    background-color: var(--nav-btn-acad-drop-btn-bg-hov);
}

.top-navbar #academics-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 50%, var(--teal-darkest));
    z-index: 2;
    pointer-events: none;
}

/* ========================= */
/* Genealogy */
/* ========================= */
.top-navbar #genealogy-button {
    background-color: var(--nav-btn-gene-bg);
}

.top-navbar #genealogy-button:hover {
    background-color: var(--nav-btn-gene-bg-hov);
    color: var(--nav-btn-gene-txt-hov);
}

.top-navbar .genealogy-drop {
    background: var(--nav-btn-gene-drop-bg);
}

.top-navbar .genealogy-drop li {
    background-color: var(--nav-btn-gene-drop-btn-bg);
}

.top-navbar .genealogy-drop li:hover {
    background-color: var(--nav-btn-gene-drop-btn-bg-hov);
}

.top-navbar #genealogy-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 50%, var(--blue-darkest));
    z-index: 2;
    pointer-events: none;
}

/* ========================= */
/* Programming */
/* ========================= */
.top-navbar #programming-button {
    background-color: var(--nav-btn-prog-bg);
}

.top-navbar #programming-button:hover {
    background-color: var(--nav-btn-prog-bg-hov);
    color: var(--nav-btn-prog-txt-hov);
}

.top-navbar .programming-drop {
    background: var(--nav-btn-prog-drop-bg);
}

.top-navbar .programming-drop li {
    background-color: var(--nav-btn-prog-drop-btn-bg);
}

.top-navbar .programming-drop li:hover {
    background-color: var(--nav-btn-prog-drop-btn-bg-hov);
}

.top-navbar #programming-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 50%, var(--purple-darkest));
    z-index: 2;
    pointer-events: none;
}

/* ========================= */
/* About */
/* ========================= */
.top-navbar #about-button {
    background-color: var(--nav-btn-abt-bg);
}

.top-navbar #about-button:hover {
    background-color: var(--nav-btn-abt-bg-hov);
    color: var(--nav-btn-abt-txt-hov);
}

.top-navbar #about-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 50%, var(--red-darkest));
    z-index: 2;
    pointer-events: none;
}

/* ========================= */
/* Contact */
/* ========================= */
.top-navbar #contact-button {
    background-color: var(--nav-btn-cont-bg);
}

.top-navbar #contact-button:hover {
    background-color: var(--nav-btn-cont-bg-hov);
    color: var(--nav-btn-cont-txt-hov);
}

.top-navbar #contact-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 50%, var(--yellow-darkest));
    z-index: 2;
    pointer-events: none;
}